# .gitignore

# ---- ENV & Credentials ----
.env
*.env
codes.env

# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log

# ---- Jupyter ----
.ipynb_checkpoints/
*.ipynb

# ---- VSCode / IDE ----
.vscode/
.idea/

# ---- System / OS ----
.DS_Store
Thumbs.db

# ---- Virtual Environments ----
venv/
.env/
.venv/
*.egg-info/